<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title>Contact</title>
 </head>
 <body>
   {{> header}}
   <h1>{{pageName}} Page</h1>
   <p>Some body for Contact page....</p>
 </body>

 <footer>
   <p>copyright @ {{currentYear}}</p>
 </footer>
</html>
